body,html{
    padding: 0;
    margin: 0;
    font-family: 'Jost', sans-serif;

}

.site-wrapper{
    height: 100vh;
    background-color: #ffffff;
    max-width: 1200px;
    padding: 0 32px;
    margin: 0 auto;
}

.navbar{
    width: 100%;
    height: 150px;
    display: table;

}


#navbar-span{
    font-size: 40px;
    font-family: 'Yeseva One', cursive;
    background: -webkit-linear-gradient(#03001e, #7303c0, #f64f59, #fdeff9 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   letter-spacing: -1px;
   line-height: 95px;
   display: table;
    margin: 0 auto;
   
}

.grid{
    display: grid;
    position: relative;
    max-width: 100%;
    grid-template-columns: repeat(4, 266px);
    grid-template-rows: repeat(5, 266px);
    column-gap: 24px;
    row-gap: 24px;
    margin-bottom: 80px;
    justify-content: start;
    padding-bottom: 50px;
}



._card{
    border-radius: 32px;
    background-color: var(--card-color);
    box-shadow: 0.2rem 0.4rem 12rem rgba(9, 18, 37, 0.267);
    padding: 32px;
    transition: var(--transition-delay);
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}

/* .card-button{
    margin-top: 30px;
    border-radius: 32px;
    font-size: 18px;
    background-image: radial-gradient( circle farthest-corner at -4.5% 34.3%,  rgba(13,20,174,1) 0%, rgba(243,165,140,1) 90% );
} */

#intro_intro{
    font-size: 25px;
    font-weight: bold;
}

#intro_rest{
    display: inline-block;
    padding-top: 15px;
}

#memoji{
    height: 150px;
    width: 150px;
}

#freelancespan{
    font-size: 25px;
}





.card-title{
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    display: inline-block;
    padding-bottom: 20px;
}

#intro{
    grid-column: 1/3;
    grid-row: 1/3;
}

#intro_span{
    
}

#intro_name{
    font-size: 70px;
    font-family: 'Playfair Display SC', serif;
    /* background: -webkit-linear-gradient(#03001e, #7303c0, #f64f59, #fdeff9 ); */
    background-image: radial-gradient( circle farthest-corner at -4.5% 34.3%,  rgba(13,20,174,1) 0%, rgba(243,165,140,1) 90% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   letter-spacing: -1px;
   /* line-height: 75px; */
}

#map{
    grid-column: 3/5;
    grid-row: 1/2;
}

#pictures{
    padding: 0;
}
#pictures img{
    border-radius: 32px;
}

#bikestats{
    grid-column:4;
    grid-row: 2/4;
}

.stat{
    padding-bottom: 10px;
}

.stat_title{
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}

.stat_value{
    font-size: 30px;
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    
}

#spotify{
    grid-row: 3;
    grid-column: 2/4;
    display: flex;
}

#spotify-album-cover{
    height: 200px;
    width: 200px;
    /* border-radius: 32px; */
}

.spotify-album-cover-container{
    height: 205px;
    width: 246px;
    
}

.spotify-info-container{
    width: 246px;

}

#spotify-logo{
    height: 100px;
    width: 100px;
}

#song_title{
    /* font-size: 30px; */
    font-weight: bold;
}

#song_artist{
    font-size: 19px;
}

.playing-status-container{
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.animation-container{
    margin-right: 4px;
    display: flex;
    align-items: center;
}

.spotify-animation-1{
    animation: playing 0.8s infinite ease;
}

.spotify-animation-2{
    animation: playing 1.0s infinite ease;
}

.spotify-animation-3{
    animation: playing 1.2s infinite ease;
}

.spotify-animation-1, .spotify-animation-2,.spotify-animation-3{
    
    width: 3px;
    border-radius: 1.5px;
    background-color: #2ad45e;
    margin-right: 3px;
}


@keyframes playing {
    0% {
      height: 3px;
    }
    50% {
      height: 12px;
    }
    100% {
      height: 3px;
    }
  }


  #projects{
    grid-row: 3/5;
    
  }

 

  .project_item{
    display: flex;
    
  }

  .project_item:hover{
    cursor: pointer;
  }

  .project_img{
    height: 25px;
    width: 25px;
  }

  #project_img_rps{
    margin-top: 10px;
  }

  .project-item-span{
    font-size: 16px;
    padding: 0 10px;
    
  }


  #github{
    background-color: #171515; 
    /* padding: 5%; */
    text-align: center;
    /* padding-top: 50px; */

    position: relative;
  }

  #github:hover{
    cursor: pointer;
  }

  #github-link-container{
    display: block;
    height: 100%;
    width: 100%;
    
    
  }

 

  #card-arrow{
    height: 30px;
    width: 30px;
    color: white;
    position: absolute;
    right: 15px;
    bottom: 15px;
  }

  #instagram{
    background: radial-gradient( circle farthest-corner at 35% 90%, #fec564, transparent 50% ), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient( ellipse farthest-corner at 20% -50%, #5258cf, transparent 50% ), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient( ellipse farthest-corner at 60% -20%, #893dc2, transparent 50% ), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient( #6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100% );
    text-align: center;
    position: relative;
}

  #instagram-link-container{
    display: block;
    height: 100%;
    width: 100%;
    
    
  }

  .link-card-icon{
    padding-top: 40px;
    height: 110px;
    width: 110px;
    color: white;
  }


 #design-projects{
    grid-column: 4;
    grid-row: 4/5;
    
 }