html{
    /* font-family: 'Josefin Sans', sans-serif; */
    /* background-color: tra; */
}

.left-side{
    width: 30%;
    position:fixed;
    top:0;
    left:0;
    height: 100%;
    background-color: #1E90FF;
    font-family: 'Open Sans Condensed', sans-serif;
    
}

.right-side{
    position:absolute;
    /* background-color: gray; */
    z-index: 0;
    
    background: url('../my_site/images/bg-blur.jpg') no-repeat center center fixed;
    background-size: cover;
    top:0vh;
    left:30%;
    min-width: 70%;
    height: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    display: grid;
    /* grid-auto-flow: row; */
    grid-template-areas: "education experience"
                        "skills experience";
    place-items:center;
    
}

/* .right-side:after{
    filter: blur(3px);
} */


.main-content{
    padding-top: 20%;
    text-align:center;
    justify-content:center;
    display:grid;
    grid-auto-flow:row;
    font-size: 23px;
    
}

.contact-content{
    padding-top: 3%;
    padding-bottom: 5%;
    font-size: 18px;
    /* text-align:center; */
    text-align: center;
}


.contact-content i{
    height: 20px;
    width: 20px;
    padding-right: 2%;
    text-align: left;
}

.about-content{
    padding-top: 6%;
    margin-left: 13%;
    margin-right: 13%;
    text-align: justify;
    padding-bottom: 5%;
    font-size: 19px;
}

#my-name{
    font-family: 'Bebas Neue', cursive;
    padding-top: 10%;
    font-size: 55px;
}

#my-picture{
    width: 250px;
    height: auto;
    border-radius: 50%;
}

#hr-left{
    width: 50%; height: 1px; border: none; background-color: black;
}

#hr-right{
    width: 10%;
    height: 10px;
    border: none;
    background-color: #1E90FF;
    /* margin-left: 0; */
}

/* .right-side-content-wrapper{
    margin-top: 5%;
    padding-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    height: 75%;
    width: auto;
    background-color: gainsboro;
} */

#right-title{
    
    font-family: 'Bebas Neue', cursive;
    font-size: 55px;
}

/* .title-holder{
    width: 20%;
} */

.content-holder{
    padding-top: 5px;
}

#content-title{
    font-size: 25px;
}

#content-subtitle{
    font-size: 18px;
    
}

.right-content{
    color: white;
    text-align: center;
    
    
}

#education{
    grid-area: education;
}

#skills{
    grid-area: skills;
}

#experience{
    grid-area: experience;
}

.element {
    /* margin-left: 35%;
    margin-right: 35%; */
    padding: 5px;
}

